body {
    background-color: #201d23;
    background-attachment: fixed;
    background-size: cover;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  background-color: #fff;
}

.about-button {
    font-weight: 600;
    font-size: medium;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: #ccc;
}

.titleParagraph {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ccc;
}

p {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    text-align: center;
}

footer {
    position: relative;
    text-align: center;
    bottom: 0;
    height: 100%;
    width: 100%;
    height: 4rem;
    margin-top: 15px;
  }
  
  footer p {
    color: #ccc;
    font-size: 14px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    height: calc(100% - 60px);
  }

.icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

li {
  font-family: 'Anton', sans-serif;
  color: #ccc;
  font-weight: 400;
  margin-bottom: 5px;
}

.titleStyle {
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
}

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
}

#root {
  display: flex;
  flex-direction: column;
}